.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 6px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  
  color: black;
}

.topnav a.active {
  color: green;
}
main {
    text-align: center;
    padding: 20px 0;
}

button.upgrade-button {
    background-color:  #242424;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button.upgrade-button:hover {
    background-color: #000;
    color: #fff;
}

.icon {
  /* Define the default color */
  color: #000; /* Replace with your desired color */
}

.ractive-icon {
  /* Define the color when the icon is active */
  color: rgb(34, 212, 72); /* Replace with your desired active color */
  
}
.cactive-icon {
  /* Define the color when the icon is active */
  color: rgb(252, 251, 250); /* Replace with your desired active color */
}
.factive-icon {
  /* Define the color when the icon is active */
  color: rgb(28, 141, 206); /* Replace with your desired active color */
}
.sactive-icon {
  /* Define the color when the icon is active */
  color: rgb(156, 53, 224); /* Replace with your desired active color */
}